/* Fonts, Roboto from Google Fonts */
body {
    font-family: 'Roboto', 'Verdana', 'Arial', sans-serif;
    padding-left: 5%;
    }
    
    h2 {
        padding-top: 20px;
    }
    
    label {
        font-size: 80%;
    }
    
    .footer {
        font-size: 70%;
        font-style: italic;
    }
    
    a:link.undecorated{
        /*text-decoration: none; */
        color: black;
    }
    
    input {
        margin-top: 5px;
        margin-bottom: 10px;
    }
    
    input.number {
        width: 50px;
    }
    
    .bold {
        font-weight: bold;
    }
    
    .extrapad {
        padding-top: 20px;
    }
    
    th {
        text-align: left;
        font-weight: normal;
        font-style: italic;
    }
    
    
    #pituustaulukko table {
        border: 1px solid;
        border-color: black;
        border-collapse: collapse;
    }
    
    #pituustaulukko th {
        border: 1px solid;
        border-color: black;
        padding: 10px;
    }
    
    #pituustaulukko td {
        border: 1px solid;
        border-color: black;
        padding: 10px;
    }